@import "components/fonts";
@import "components/vars";
@import "components/assist";
@import "components/layout";
@import "components/typography";
@import "icons";

// Header
@import "components/header/header";

// Footer
@import "components/footer/footer";

// Common
@import "components/common/buttons";
@import "components/common/forms";
@import "components/common/sliders";
@import "components/common/video";
@import "components/common/modals";
@import "components/common/menu-opener";
@import "components/common/tabs-nav";
@import "components/common/phone-slider";
// @import "components/common/tables";
// @import "components/common/breadcrumbs";

// Sections
@import "components/sections/first-screen-section";
@import "components/sections/products-section";
@import "components/sections/solutions-section";
@import "components/sections/developer-friendly-section";
@import "components/sections/partners-section";
@import "components/sections/accelerate-section";
@import "components/sections/stats-section";
@import "components/sections/page-nav-section";
@import "components/sections/brief-section";
@import "components/sections/blue-cards-section";
@import "components/sections/news-section";
@import "components/sections/customer-story-section";
@import "components/sections/contacts-top-section";
@import "components/sections/contacts-section";
@import "components/sections/traders-room-first-section";
@import "components/sections/missions-section";
@import "components/sections/timeline-section";
@import "components/sections/multi-level-first-screen";
@import "components/sections/oreange-timeline-section";
@import "components/sections/strategies-section";
@import "components/sections/page-404";
@import "components/sections/overview-section";
@import "components/sections/mobile-deposits-section";
@import "components/sections/tools-section";
@import "components/sections/live-quotes-section";
@import "components/sections/inserted-bg-section";
@import "components/sections/check-out-section";