.blue-cards-section{
	padding: 50px 0 30px;

	@media screen and (max-width: 767px){
		padding-top: 25px;
	}
}

.blue-card{
	padding: 36px 54px;
	border-radius: 10px;
	background: #F5F8FF;
	height: 100%;

	.card-caption{
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 8px;
		color: #2A2B2D;
		font-weight: bold;
	}

	.card-image{
		margin-bottom: 20px;
		max-width: 442px;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.card-text{
		padding-bottom: 13px;
		margin-bottom: 12px;
		position: relative;
		max-width: 442px;

		&:after{
			content: '';
			display: block;
			position: absolute;
			left: -15px;
			bottom: 0;
			width: calc(100% + 30px);
			height: 1px;
			background: #7E97C9;
		}

		p{
			font-size: 18px;
			line-height: 1.56;
			margin-bottom: 8px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.card-subcaption{
		font-size: 18px;
		line-height: 1.56;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 12px;
	}

	.card-footer{
		padding-top: 16px;
	}

	&.big{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 45px 45px 45px 54px;

		.card-text{
			max-width: unset;

			&:after{
				display: none;
			}
		}

		.card-content{
			width: 50%;
			max-width: 500px;
			margin-right: 30px;
		}

		.card-image{
			max-width: unset;
		}
	}

	&.app{
		text-align: center;
		flex-direction: column;
		display: flex;
		align-items: center;
		padding: 36px 32px;

		.card-caption{
			max-width: 270px;
			margin-bottom: 16px;
		}

		.card-image{
			margin-bottom: 20px;

			img{
				max-width: 100%;
			}
		}

		.card-text{
			margin-bottom: 24px;
			max-width: 326px;
			flex: auto;
			padding-bottom: 0;

			&:after{
				display: none;
			}
		}

		.card-footer{
			padding-top: 0;
		}
	}

	@media screen and (max-width: 1199px) and (min-width: 992px){
		padding: 25px;

		.card-caption{
			font-size: 32px;
		}

		&.app{
			padding: 25px;

			.card-caption{
				font-size: 22px;
				line-height: 1.3;

				br{
					display: none;
				}
			}
		}
	}

	@media screen and (max-width: 1199px){
		&.app{
			.card-image{
				height: 180px;
				display: flex;
				align-items: center;
				justify-content: center;

				img{
					max-height: 100%;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		.card-text{
			font-size: 14px;
			line-height: 1.64;
		}

		&.app{
			padding: 32px 15px 50px;

			.card-caption{
				font-size: 24px;
				line-height: 28px;
			}

			.card-text{
				p{
					font-size: 14px;
					line-height: 1.64;
				}
			}

			.btn{
				min-width: 186px;
				min-height: 56px;
			}
		}

		&.multi-level{
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding: 20px 30px 25px;

			.card-image{
				width: 100%;
				max-width: unset;
				height: auto;
				max-height: unset;
				margin-bottom: 15px;
				order: 1;
				grid-column: 1 / 3;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.card-caption{
				grid-column: 1 / 3;
				order: 2;
				width: 100%;
				font-size: 18px;
				line-height: 21px;
			}

			.card-text{
				order: 3;
				align-self: center;
				padding-right: 50px;
				margin-bottom: 0;
				padding-bottom: 0;

				&:after{
					width: 1px;
					height: calc(100% + 24px * 2);
					right: 0;
					top: -24px;
					left: auto;
					bottom: auto;
				}

				p{
					font-size: 12px;
					line-height: 1.5;
				}
			}

			.card-subcaption{
				font-size: 12px;
				line-height: 1.9;
			}

			.card-features{
				order: 4;
				padding: 0 0 0 50px;
			}

			.card-footer{
				order: 5;
				width: 100%;
				padding-top: 25px;

				.btn{
					min-width: 160px;
				}
			}

			.tick-list{
				li{
					font-size: 12px;
					line-height: 1.9;
					margin-bottom: 12px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}

		&.big{
			flex-direction: column;
			padding: 40px 50px 50px;

			.card-caption{
				font-size: 28px;
				line-height: 33px;
			}

			.card-text{
				margin-bottom: 12px;
				padding-bottom: 0;

				p{
					font-size: 12px;
					line-height: 1.57;
				}
			}

			.card-content{
				width: 100%;
				max-width: unset;
				margin-bottom: 35px;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				margin-right: 0;
			}

			.card-image{
				width: 100%;
				margin-bottom: 0;

				img{
					width: 100%;
					max-width: 540px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		&.multi-level{
			display: flex;
			flex-direction: column;
			padding: 32px 15px 40px;

			.card-image{
				margin-bottom: 30px;
			}

			.card-caption{
				text-align: center;
				font-size: 18px;
				line-height: 21px;
				margin-bottom: 12px;
			}

			.card-text{
				width: 100%;
				padding-bottom: 17px;
				margin-bottom: 17px;
				padding-right: 0;
				text-align: center;

				&:after{
					height: 1px;
					width: 137px;
					top: auto;
					right: auto;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			.card-features{
				padding-left: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.card-subcaption{
				text-align: center;
			}

			.card-footer{
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		&.app{
			padding: 36px 38px;

			.card-caption{
				font-size: 18px;
				line-height: 21px;

				br{
					display: none;
				}
			}

			.card-image{
				height: 150px;
				margin-bottom: 24px;
			}

			.card-text{
				margin-bottom: 24px;
			}
		}

		&.big{
			padding: 36px 7px 34px;

			.card-caption{
				font-size: 18px;
				line-height: 21px;
				margin-bottom: 19px;
			}

			.card-text{
				margin-bottom: 15px;
			}

			.card-content{
				margin-bottom: 40px;
			}

			.tick-list{
				li{
					font-size: 12px;
				}
			}
		}
	}
}

.apps-slider{
	@media screen and (min-width: 992px){
		display: flex;
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;

		.slide{
			padding: 0 15px;
		}
	}

	@media screen and (max-width: 991px){
		// width: 150%;
		.slick-arrow{
			border-radius: 50%;
			width: 40px;
			height: 40px;
			background: $primary;

			svg{
				height: 17px;
				width: 17px;
				fill: #fff;
				display: block;
			}

			&:hover{
				box-shadow: 0px 4px 4px rgba(250, 108, 6, 0.3);

				svg{
					fill: #fff;
				}
			}
		}
	}

	@media screen and (max-width: 679px){
		display: flex;
		flex-direction: column;

		.slide{
			margin-bottom: 24px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}